.gallery {
	margin-top: 80px;
	display:flex;
}

.bespoke-hero {
	display: flex;
	width: 100%;
	height: 100%;
	background-image: url(../img/bespoke/hero.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;

	@media screen and (max-width: $tablet-bp) {
		background-size: cover; 
		background-position: 50%;
	}

	.hero-text {
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    width: 75%;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    text-align: center;
	    color: white;

	    @media screen and (max-width: $tablet-bp) {
	    	width: auto;
	    }

	    h1 {
    	    font-family: "code-bold";
		    font-size: 5rem;
		    letter-spacing: 10px;
		    margin-bottom: 0;

    	    @media screen and (max-width: $tablet-bp) {
		    	font-size: 3rem;
		    }

		    &::after {
	    		position: absolute;
				display: block;
				margin-left: -12px;
				margin-top: 15px;
	    		content: "";
	    		width: 80%;
	    		height: 2px;
	    		background-color: #FCB543;

			    @media screen and (max-width: $tablet-bp) {
					margin-left: 20px;
					margin-top: 0;
			    }
	    	}
	    }

	    h4 {
	    	font-family: "code-bold";
		    font-size: 2rem;
		    margin-bottom: 0;
    	    @media screen and (max-width: $tablet-bp) {
		    	font-size: 1rem;
		    }
	    }

	    p {
	    	font-family: "bryantpro-light";
		    font-size: 1.2rem;
		    width: 43%;
		    text-align: center;
		    line-height: 25px;

    	    @media screen and (max-width: $tablet-bp) {
		    	width: auto;
		    	margin-top: 0;
		    }
		}

		.fa {
		    font-size: 5rem;
		    color: white;
		    position: absolute;
		    bottom: -200px;
		}
	}
}


.gallery {
	display: flex;
	flex-wrap: wrap;
	// justify-content: center;
	// align-items: center;
	width:70%;
	.gallery-item {
		border: 3px solid black;
		width: 20%;
	    padding: 10px;
	    margin: 10px;
	    text-align: center;
	    order:-1;
	    max-height:500px;


	    &.hide {
	    	display:none;

	    }

	    @media screen and (max-width: $phone-bp) {
	    	width: 90%;
	    }

	    .item-image {
	    	width: 100%;

	    	img {
	    		height: 100%;
	    		width: 100%;
	    	}
	    }

	    h1 {
	    	font-family: "code-bold";
		    @media screen and (max-width: $tablet-bp) {
		    	font-size: 0.9em;
		    }
	    }

	    p {
	    	font-family: "bryantpro-regular";
		    @media screen and (max-width: $tablet-bp) {
		    	font-size: 0.8em;
		    }
	    }

	    button {
	    	padding: 5px 10px;
		    border: 2px solid black;
		    background-color: transparent;
	    }
		
	}
}

.size {
	width: 100%;

	@media screen and (max-width: $tablet-bp) {
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;

	}

	.size-image {
		background-image: url(../img/bespoke/fit.png);
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		color: white;

				

		.size-text {	
		    padding: 120px 110px;
			width: 24%;

			@media screen and (max-width: $tablet-bp) {
				width: 80%;
				padding: 10px 0;
				margin: 0 auto;

			}

			h1 {
				display: flex;
				flex-direction: column;
				font-family: 'code-light';
				font-size: 4rem;

				@media screen and (max-width: $tablet-bp){
					font-size: 3rem;
				}

				span {
					font-size: 2.5rem;
				}

				&::after {
					content: '';
					background-color: white;
					width: 100%;
					height: 2px;
					position: relative;
					left: 0;
				}
			}

			p {
				font-family: 'bryantpro-light';
				text-align: center;
			}

			h3 {
				text-align: center;
				font-family: "bryantpro-regular";
			}

			.icons{
				display: flex;
				justify-content: space-around;
				align-items: center;
				text-align: center;

				.fa {
					font-size: 2rem;
				}

				p {
					font-family: "bryantpro-light";
				}
			}

		}
		
	}

	.sizes {
		width: 100%;
	    display: flex;
	    justify-content: space-around;
	    align-items: center;
		padding: 100px 0;

	    @media screen and (max-width: $tablet-bp) {
	    	flex-direction: column;
	    }

	    h4 {
	    	font-family: "code-bold";
	    	color: darkgray;
	    	margin-bottom: 0;

	    	@media screen and (max-width: $tablet-bp){
	    		margin: 0;
	    	}

	    }

	    h5 {
	    	font-family: "bryantpro-light";
	    	color: lightgray;
	    	margin-top: 0;
	    }

	    .length, .width, .arch {
	    	display: flex;
	    	flex-direction: column;
	    	justify-content: center;
	    	align-items: center;

	    	input {
	    		width: 20%;
			    height: 20px;
			    border: 1px solid darkgray;
			    text-align: center;

	    	}
	    }

	    .width {
	    	@media screen and (max-width: $tablet-bp){
	    		margin: 50px 0;
	    	}
	    }

	    .width, .arch {
			input {
				margin-bottom: -40px;
				@media screen and (max-width: $tablet-bp){
					margin-bottom: 0;
				}
			}
	    }
	}

	a {
	    position: relative;
	    top: -50px;
	    right: -80%;
	    padding: 5px 10px;
	    border: 2px solid black;
	    text-decoration: none;
	    color: black;

	    @media screen and (max-width: $tablet-bp) {
	    	position: static;
	    	margin-bottom: 20px;

	    }
    }
}
.filter-container {
	width:30%;
}
.filter {
	padding: 20px 30px;
	border: 1px solid black;
}
.galleryFilter {
	display:flex;
}
.filterEntry {
	display: flex;
	align-item: center;
	padding-top:10px;
	.checkbox {
		box-sizing:border-box;
		width:20px;
		height:20px;
		border: 1px solid black;
		margin-right: 5px;
		&.checked {
			background:blue;
		}
	}
	.filterName {
		margin:0;
	}
}
















