html, body {
  width: 100%;
  height: 100%;
  box-sizing: border-box; }

body {
  margin: 0;
  background: #FFF8F2; }

@font-face {
  font-family: "bryantpro-light";
  src: url(../fonts/bryantpro-light-webfont.ttf); }

@font-face {
  font-family: "bryantpro-regular";
  src: url(../fonts/bryantpro-regular-webfont.ttf); }

@font-face {
  font-family: "code-bold";
  src: url(../fonts/CODE-Bold.otf); }

@font-face {
  font-family: "code-light";
  src: url(../fonts/CODE-Light.otf); }

.nav {
  position: fixed;
  display: flex;
  width: 96%;
  height: 50px;
  top: 0;
  justify-content: space-between;
  padding: 15px 25px;
  z-index: 1000; }
  .nav a {
    text-decoration: none;
    color: white; }
  .nav .logo {
    background-image: url(../img/home/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    height: 50px; }
  .nav .nav-items {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: "bryantpro-regular"; }
    .nav .nav-items .fa {
      font-size: 1.7rem; }

.hero {
  width: 100%;
  height: 100%;
  background-image: url(../img/home/home-hero.png);
  background-size: 100% 100%;
  background-repeat: no-repeat; }
  .hero .hero-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; }
    .hero .hero-text h1 {
      font-size: 10rem;
      font-family: "code-light";
      letter-spacing: 25px;
      margin: 0; }
      .hero .hero-text h1:nth-child(2)::before {
        position: absolute;
        display: block;
        margin-left: -12px;
        content: "";
        width: 80%;
        height: 2px;
        background-color: #FCB543; }
    .hero .hero-text p {
      font-size: 1.2rem;
      font-family: "bryantpro-light";
      text-align: center;
      line-height: 25px; }

.details {
  width: 100%;
  height: 100%;
  display: flex; }
  .details .details-text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .details .details-text h2 {
      font-family: "code-light";
      font-size: 1.5rem;
      text-align: center; }
      .details .details-text h2 span {
        font-size: 4rem;
        font-family: "code-bold"; }
      .details .details-text h2::after {
        content: "";
        width: 25%;
        height: 3px;
        background-color: black;
        position: absolute;
        display: block; }
    .details .details-text p {
      font-family: "bryantpro-light";
      width: 35%;
      text-align: center; }
  .details .details-image {
    width: 50%;
    height: 100%; }
    .details .details-image img {
      width: 100%;
      height: 100%; }

.history {
  width: 100%;
  height: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column; }
  .history h2 {
    width: 50%;
    margin-left: 25px;
    margin-bottom: 100px;
    font-family: "bryantpro-light"; }
    .history h2 span {
      font-family: "bryantpro-regular"; }
    .history h2::after {
      position: absolute;
      text-align: center;
      right: 0;
      content: "";
      width: 50%;
      height: 2px;
      background-color: black; }
  .history .images {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around; }
    .history .images .image {
      width: 30%; }
      .history .images .image img {
        width: 100%;
        height: 100%; }

.steps {
  width: 100%;
  height: 100%; }
  .steps img {
    width: 100%;
    height: 100%; }

.style {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around; }
  .style .text {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .style .text h2 {
      font-family: "code-light";
      text-align: center; }
      .style .text h2 span {
        font-family: "code-light";
        font-size: 4em; }
      .style .text h2::after {
        content: "";
        width: 18%;
        height: 3px;
        background-color: black;
        position: absolute;
        left: 8%;
        display: block; }
    .style .text p {
      font-family: "bryantpro-light";
      width: 50%;
      text-align: center; }
  .style .image {
    width: 30%;
    height: 100%; }
  .style :nth-child(2) {
    display: flex;
    align-items: center; }
    .style :nth-child(2) img {
      width: 100%;
      height: 70%; }
  .style :nth-child(3) {
    display: flex;
    align-items: center; }
    .style :nth-child(3) img {
      width: 100%;
      height: 90%; }

.gallery {
  margin-top: 80px; }

.bespoke-hero {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url(../img/bespoke/bespoke-hero.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat; }
  .bespoke-hero .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; }
    .bespoke-hero .hero-text h1 {
      font-family: "code-light";
      font-size: 5rem;
      letter-spacing: 10px;
      margin-bottom: 0; }
      .bespoke-hero .hero-text h1::after {
        position: absolute;
        display: block;
        margin-left: -12px;
        margin-top: 15px;
        content: "";
        width: 80%;
        height: 2px;
        background-color: #FCB543; }
    .bespoke-hero .hero-text h4 {
      font-family: "code-bold";
      font-size: 2rem;
      margin-bottom: 0; }
    .bespoke-hero .hero-text p {
      font-family: "bryantpro-light";
      font-size: 1.2rem;
      width: 43%;
      text-align: center;
      line-height: 25px; }
    .bespoke-hero .hero-text .fa {
      font-size: 5rem;
      color: white;
      position: absolute;
      bottom: -200px; }

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .gallery .gallery-item {
    border: 3px solid black;
    width: 20%;
    padding: 10px;
    margin: 10px;
    text-align: center; }
    .gallery .gallery-item .item-image {
      width: 100%; }
      .gallery .gallery-item .item-image img {
        height: 100%;
        width: 100%; }
    .gallery .gallery-item h1 {
      font-family: "code-bold"; }
    .gallery .gallery-item p {
      font-family: "bryantpro-regular"; }

.size {
  width: 100%;
  height: 100%; }
  .size .size-image {
    background-image: url(../img/bespoke/fit.png);
    background-size: 100% 100%;
    background-position-y: -110px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    color: white; }
    .size .size-image .size-text {
      padding: 120px 110px;
      width: 24%; }
      .size .size-image .size-text h1 {
        display: flex;
        flex-direction: column;
        font-family: 'code-light';
        font-size: 4rem; }
        .size .size-image .size-text h1 span {
          font-size: 2.5rem; }
        .size .size-image .size-text h1::after {
          content: '';
          background-color: white;
          width: 100%;
          height: 2px;
          position: relative;
          left: 0; }
      .size .size-image .size-text p {
        font-family: 'bryantpro-light';
        text-align: center; }
      .size .size-image .size-text h3 {
        text-align: center;
        font-family: "bryantpro-regular"; }
      .size .size-image .size-text .icons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center; }
        .size .size-image .size-text .icons .fa {
          font-size: 2rem; }
        .size .size-image .size-text .icons p {
          font-family: "bryantpro-light"; }
  .size .sizes {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .size .sizes h4 {
      font-family: "code-bold";
      color: darkgray;
      margin-bottom: 0; }
    .size .sizes h5 {
      font-family: "bryantpro-light";
      color: lightgray;
      margin-top: 0; }
    .size .sizes .length, .size .sizes .width, .size .sizes .arch {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .size .sizes .length input, .size .sizes .width input, .size .sizes .arch input {
        width: 20%;
        height: 20px;
        border: 1px solid darkgray;
        text-align: center; }
  .size a {
    position: relative;
    top: -270px;
    right: -80%;
    padding: 5px 10px;
    border: 2px solid black;
    text-decoration: none;
    color: black; }

.background {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative; }
  .background .dot1 {
    position: absolute;
    right: 30%;
    top: 50%; }
    .background .dot1.active {
      right: 110%; }
    .background .dot1 .move {
      width: 30vw;
      height: 5px;
      background: white;
      position: absolute;
      margin-top: 24px;
      margin-left: 51px; }
    .background .dot1 .circle {
      width: 50px;
      height: 50px;
      position: absolute;
      top: 50%;
      border: 1px solid white;
      border-radius: 100%; }
  .background .dot2 {
    position: absolute;
    right: 0%;
    top: 50%;
    opacity: 0; }
    .background .dot2.active {
      right: 74.7%;
      opacity: 1; }
    .background .dot2 .move {
      width: 30vw;
      height: 5px;
      background: white;
      position: absolute;
      margin-top: 24px;
      margin-left: 51px; }
    .background .dot2 .move.active {
      width: 100vw; }
    .background .dot2 .circle {
      width: 50px;
      height: 50px;
      position: absolute;
      top: 50%;
      border: 1px solid white;
      border-radius: 100%; }
  .background .dot3 {
    position: absolute;
    right: 110%;
    top: 50%;
    opacity: 0; }
    .background .dot3 .move {
      width: 30vw;
      height: 5px;
      background: white;
      position: absolute;
      margin-top: 24px;
      margin-left: 51px; }
    .background .dot3 .circle {
      width: 50px;
      height: 50px;
      position: absolute;
      top: 50%;
      border: 1px solid white;
      border-radius: 100%; }
  .background .timeline-year {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .5s all; }
    .background .timeline-year.active {
      opacity: 1; }

.start {
  background-image: url(../img/home/history-old.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0; }
  .start h1 {
    color: white;
    font-family: "code-bold";
    letter-spacing: 10px;
    font-size: 7rem;
    margin-top: 100px;
    margin-left: -8%;
    margin-bottom: 0; }
  .start p {
    color: white;
    font-family: bryantpro-regular;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-left: -5%; }

.y1890 {
  background-image: url(../img/timeline/timeline-1890.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0; }
  .y1890 h1 {
    font-family: "code-bold";
    color: white;
    letter-spacing: 5px;
    font-size: 8rem;
    margin-left: -20%;
    margin-bottom: 0;
    margin-top: 40px; }
  .y1890 p {
    width: 45%;
    font-size: 1.5rem;
    font-family: bryantpro-light;
    color: white;
    margin-left: 7%; }

.y1930 {
  background-image: url(../img/timeline/timeline-1930.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0; }
  .y1930 h1 {
    font-family: "code-bold";
    color: white;
    letter-spacing: 5px;
    font-size: 8rem;
    margin-left: -20%;
    margin-bottom: 0;
    margin-top: 70px; }
  .y1930 p {
    width: 45%;
    font-size: 1.5rem;
    font-family: bryantpro-light;
    color: white;
    margin-left: 7%; }

.y1982 {
  background-image: url(../img/timeline/timeline-1982.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0; }
  .y1982 h1 {
    font-family: "code-bold";
    color: white;
    letter-spacing: 5px;
    font-size: 8rem;
    margin-left: -20%;
    margin-bottom: 0;
    margin-top: 70px; }
  .y1982 p {
    width: 45%;
    font-size: 1.5rem;
    font-family: bryantpro-light;
    color: white;
    margin-left: 7%; }

.y2000 {
  background-image: url(../img/timeline/timeline-2000.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0; }
  .y2000 h1 {
    font-family: "code-bold";
    color: white;
    letter-spacing: 5px;
    font-size: 8rem;
    margin-left: -17%;
    margin-bottom: 0;
    margin-top: 120px; }
  .y2000 p {
    width: 45%;
    font-size: 1.5rem;
    font-family: bryantpro-light;
    color: white;
    margin-left: 7%; }

.today {
  background-image: url(../img/timeline/timeline-now.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0; }
  .today h1 {
    font-family: "code-bold";
    color: white;
    letter-spacing: 5px;
    font-size: 8rem;
    margin-left: -12%;
    margin-bottom: 0;
    margin-top: 80px; }
  .today p {
    width: 45%;
    font-size: 1.5rem;
    font-family: bryantpro-light;
    color: white;
    margin-left: 7%; }

footer {
  width: 98%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 25px;
  background-color: #FCE9D7; }
  footer a {
    text-decoration: none;
    color: black; }
  footer h3 {
    font-family: "bryantpro-light";
    font-size: 1rem; }
  footer span {
    font-family: "bryantpro-light";
    font-size: 1rem;
    margin: 0 10px; }

/*# sourceMappingURL=main.css.map */
